.App h1 {
  display: inline-block;
  margin: 0;
  position: absolute;
  top: .5em;
}

.App-logo {
  height: 2.5em;
}

.App-header {
  background-color: #222;
  color: white;
  padding: .25em;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
